{% import '../components/macros-buttons.njk' as macrosButtons %}

{% set leftMenu = [
  {
    'text': 'Our Story',
    'href': '/our-story'
  },
  {
    'text': 'Rooms & Suites',
    'href': '/rooms-and-suites'
  },
  {
    'text': 'Gastronomy',
    'href': '/gastronomy'
  },
  {
    'text': 'Wellness',
    'href': '/wellness'
  },
  {
    'text': 'Activities',
    'href': '/activities'
  },
  {
    'text': 'Services',
    'href': '/services'
  }
] %}

{%
  set menu = [
  {
    'text': 'Our Story',
    'href': '/our-story'
  },
  {
    'text': 'Rooms & Suites',
    'href': '/rooms-suites'
  },
  {
    'text': 'Gastronomy',
    'href': '/gastronomy'
  },
  {
    'text': 'Wellness',
    'href': '/wellness'
  },
  {
    'text': 'Activities',
    'href': '/activities'
  },
  {
    'text': 'Events & occasions',
    'href': '/events-occasions'
  },
  {
    'text': 'Gallery',
    'href': '/gallery'
  },
  {
    'text': 'Blog',
    'href': '/blog'
  },
  {
    'text': 'Local partners',
    'href': '/local-partners'
  },
  {
    'text': 'Contact us',
    'href': '/contact-us'
  }
  ]
%}

<header class="header fixed top-0 left-0 right-0 h-[72px] sm:h-40 text-light z-40">
  <div class="big-container relative grid grid-cols-[1fr_auto_1fr] h-full sm:h-auto items-center sm:items-start">
    {# Header left side #}
    <div class="relative flex sm:mt-12 gap-16 h-10 whitespace-nowrap">
      {# Burger #}
      <button class="header-hamburger flex items-center h-10 z-10 group" aria-label="Menu">
        <span class="flex items-center relative w-6 h-6">
          <i class="top-2"></i>
          <i class="top-4"></i>
        </span>

        <span class="hidden xs:block w-11 h-4 ml-4 leading-none overflow-hidden group-hover:ml-3 duration-200">
          <span class="header-hamburger__toggle flex flex-col h-10 duration-500">
            <span class="block">Menu</span>
            <span class="block">Close</span>
          </span>
        </span>
      </button>

      {# Menu #}
      <ul class="header-left-menu hidden 5xl:flex gap-4 w-full duration-500">
        {% for item in leftMenu %}
          <li class="header-menu-item">
            <a href="{{item.href}}">{{item.text}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {# Header logo #}
    <div class="header-logo sm:pt-4">
      <a class="flex flex-col items-center" href="/">
        <span class="text-[0px]">Home page</span>
        <svg class="w-10 sm:w-16 xl:w-20 aspect-square">
          <use xlink:href="#logo"></use>
        </svg>
        <svg class="hidden sm:block w-32 xl:w-40 h-6 mt-4">
          <use xlink:href="#logo-text"></use>
        </svg>
      </a>
    </div>

    {# Header right side #}
    <div class="relative flex items-center justify-end sm:mt-12 sm:h-10 whitespace-nowrap">
      <div class="header-weather-date hidden xl:block">
        <span>23º Sunny</span>
        <time>5 Aug, 10:25</time>
      </div>

      <div class="lang-select relative hidden sm:flex flex-col min-w-[36px] ml-8 group">
        <div class="lang-select__current flex items-center cursor-pointer">
          <span>En</span>
          <svg class="w-1.5 h-1 ml-2 group-hover:rotate-180 duration-300">
            <use xlink:href="#toggle-little-arrow"></use>
          </svg>
        </div>

        <ul class="lang-select__list absolute top-full flex flex-col bg-light text-dark opacity-0 pointer-events-none translate-y-2
         group-hover:opacity-100 group-hover:pointer-events-auto group-hover:translate-y-0
         group-focus-within:opacity-100 group-focus-within:pointer-events-auto group-focus-within:translate-y-0
         duration-300">
          <li>
            <a class="block w-full h-full px-2.5 py-1 hocus:bg-sunset hocus:text-white outline-none" href="/fr">Fr</a>
          </li>
          <li>
            <a class="block w-full h-full px-2.5 py-1 hocus:bg-sunset hocus:text-white outline-none" href="/cn">Cn</a>
          </li>
        </ul>
      </div>

      <div class="header-btn-wrapp hidden xs:block">
        {{macrosButtons.button({
          'text': 'Book <span class="hidden xl:inline">your stay</span>',
          'href': '#',
          'class': 'header-btn sm:ml-8'
        })}}
      </div>

    </div>

  </div>
</header>

<div class="menu fixed inset-0 bg-black text-light z-30">
  {# Menu Image #}
  <div class="hidden sm:block absolute right-0 top-0 bottom-0 w-6/12 4xl:w-8/12 pointer-events-none overflow-hidden">
    {# Image size 1849 × 1620 #}
    <img class="menu-img scale-[1.4] img-cover" src="./img/menu.webp" alt="Menu image" loading="lazy">
    <div class="absolute inset-0 bg-black/40"></div>
  </div>

  {# Menu content #}
  <div class="menu-content container pt-24 sm:pt-40 pb-32 sm:pb-16 h-full overflow-auto hidden-scrollbar">
    <div class="flex flex-col max-w-lg h-auto min-h-full">

      <div class="sm:hidden mb-16">
        {{macrosButtons.button({
          'text': 'Book',
          'href': '#',
          'class': ''
        })}}
      </div>

      {# Menu #}
      <ul class="menu-list flex flex-col items-start gap-2 mb-8">
        {% for item in menu %}
          {# styles in headers.scss #}
          <li>
            <a href="{{item.href}}" fade fade-trigger="none">{{item.text}}</a>
          </li>
        {% endfor %}
      </ul>

      {# Сontacts #}
      <div class="flex flex-col xs:pl-7 mt-auto" fade fade-trigger="none">
        <p>Al Moudira Hotel</p>
        <p>Luxor West Bank, Hager Al Dabbeya</p>
        <a href="tel:(+20) 122 325 13 07">(+20) 122 325 13 07</a>
        <a href="tel:(+20) 122 392 83 32">(+20) 122 392 83 32</a>
        <a href="mailto:moudirahotel@yahoo.com">moudirahotel@yahoo.com</a>
      </div>
    </div>

  </div>
</div>