{% macro button(params) %}
  {% if params.type == 'button' %}
    <button></button>
  {% else %}
    <a href="{{ params.href }}" class="button {{ params.class }}" {% if params.target %}target="{{ params.target }}"{% endif %}>
      <span class="button-bg"></span>
      <span class="button-border"></span>

      <span class="button-text">
        {{ params.text|safe }}
      </span>
    </a>
  {% endif %}

{% endmacro %}